<!-- <p>switch-demo works!</p> -->

<div [ngSwitch] ="day">

<div *ngSwitchCase="0"><I><B>Today is Sunday! I am enjoying the sunshine.</B></I></div>

<div *ngSwitchCase="1"><I><B>Today is Monday! I don't feel like waking uppp.</B></I></div>

<div *ngSwitchCase="2"><I><B>Today is Tuesday! Taco Tuesdayyyy party peopleee!!</B></I></div>

<div *ngSwitchCase="3"><I><B>Today is Wednesday! We halfway throughhh the weeeek</B></I></div>

<div *ngSwitchCase="4"><I><B>Today is  Thirstyy Thirstyy,Thursday! Pusing this project into AWS</B></I></div>

<div *ngSwitchCase="5"><I><B>Today is Friday! Weekend here I come.</B></I></div>

<div *ngSwitchCase="6"><I><B>Today is Saturday! First Day of Weekend.</B></I></div>


<div *ngSwitchDefault><I><B>Something went wrong!!</B></I></div>

</div>


